#gif {
  display: none;
}

#symbols {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 500px;
  border-radius: 5px;
}

.well {
  background-color: white;
}

img {
  border-radius: 5px;
}

#well2 {
  background-color: black;
}

.btn {
  background-color: black;
  border: black;
  color: white;
}

.list {
  display: none;
}
