.list {
  display: none;
}

/*li {
  display: inline-flex;
}*/

.well {
  background-color: white;
}

img {
  border-radius: 5px;
  padding: 0px;
}

#well2 {
  background-color: black;
}

.btn {
  background-color: black;
  border: black;
  color: white;
}
