.list {
  display: none;
}

.well {
  background-color: white;
}

img {
  border-radius: 5px;
  float: left;
}

#well2 {
  background-color: black;
}

.btn {
  background-color: black;
  border: black;
  color: white;
}
